<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mactrix.www.musical">

    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- These permissions are strongly recommended and will result in higher performance -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />




    <application
        android:allowBackup="true"
        android:icon="@mipmap/musicaliconing"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/musicaliconing"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">



        <activity android:name="com.startapp.android.publish.ads.list3d.List3DActivity"
            android:theme="@android:style/Theme" />

        <activity android:name="com.startapp.android.publish.adsCommon.activities.OverlayActivity"
            android:theme="@android:style/Theme.Translucent"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity android:name="com.startapp.android.publish.adsCommon.activities.FullScreenActivity"
            android:theme="@android:style/Theme"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <service android:name="com.startapp.android.publish.common.metaData.PeriodicMetaDataService" />
        <service android:name="com.startapp.android.publish.common.metaData.InfoEventService" />
        <service android:name="com.startapp.android.publish.common.metaData.PeriodicJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <receiver android:name="com.startapp.android.publish.common.metaData.BootCompleteListener" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <meta-data android:name="applovin.sdk.key"
            android:value="0GheSPF-nhq_gDC6iSaTCzZy1gEsGytHCZxezBdluRlTfxfMOFrbCOXE4n4LiycwVTTSlBCcdxAHtqdF3TsGsN"  />


        <activity android:name="com.applovin.adview.AppLovinInterstitialActivity" android:configChanges="orientation|screenSize"/>
        <activity android:name="com.applovin.adview.AppLovinConfirmationActivity" android:configChanges="orientation|screenSize"/>

        <!-- All ad formats -->
        <activity android:name="com.mopub.common.MoPubBrowser" android:configChanges="keyboardHidden|orientation|screenSize" />

        <!-- Interstitials -->
        <activity android:name="com.mopub.mobileads.MoPubActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.mopub.mobileads.MraidActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>

        <!-- Rewarded Video and Rewarded Playables -->
        <activity android:name="com.mopub.mobileads.RewardedMraidActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.mopub.mobileads.MraidVideoPlayerActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity
            android:name=".Musical"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MusicPlace"
            android:label="Music Place"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CollectSongs"
            android:label="Music Room"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".MyMusicService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".PlayList"
            android:label="@string/title_activity_play_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Introduction"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.mactrix.www.Musical"/>

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Search"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".IntroKara"
            android:label="@string/title_activity_intro_kara"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SingList"
            android:label="@string/title_activity_sing_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SingingStudio"
            android:label="@string/title_activity_singing_studio"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LyricsStudio"
            android:label="@string/title_activity_lyrics_studio"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LyricsStore"
            android:label="Lyrics Store"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LovedThings"
            android:label="@string/title_activity_loved_things"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PurchaseRoom"
            android:label="@string/title_activity_purchase_room"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>